* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #1e1e1e;
    color: white;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a, .btn-login {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn-login {
    background: #ff4b2b;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: url("https://picsum.photos/1600/900?random=1") no-repeat center/cover;
    color: white;
}

.hero h1 {
    font-size: 50px;
}

.cta-btn {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 18px;
    background: #ff4b2b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Courses */
.courses-section {
    padding: 50px;
    text-align: center;
}

.courses-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.course-card {
    width: 300px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    transition: 0.3s;
}

.course-card:hover {
    transform: translateY(-10px);
}

.enroll-btn {
    margin-top: 10px;
    background: #2196f3;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* About */
.about-section {
    padding: 40px;
    text-align: center;
    background: #fafafa;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 22px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.submit-btn {
    background: #ff4b2b;
    padding: 10px;
    border: none;
    width: 100%;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
